<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAK0lEQVRIx+3NQQEAQAQAMC6I7NLJcSX4bQWW1ROXXhwTCAQCgUAgEAgEWz5xywHkVdIGfAAAAABJRU5ErkJggg=="
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/app.css" />
    <title>{{ get('title', 'No title') }}</title>
  </head>
  <body>
    <nav>
      <a is="spa-link" href="/">Home</a>
      <a is="spa-link" href="/one">One</a>
      <a is="spa-link" href="/two">Two</a>
    </nav>
    <div class="spa-wrapper">
